body {
	background: rgb(135,155,155);
}
.content {
	margin: 0px auto;
	width: 550px;
	overflow: hidden;
}
header {
	background: rgb(100,100,100);
	height: 250px;
	margin-top: 20px;
	border-bottom: 5px solid rgb(70,70,70);
}
.top {
	background: rgb(100,200,100);
	height: 200px;
	border-bottom: 5px solid rgb(80,180,80);
	position:relative;
}
header h1 {
	font-size: 30px;
	margin: 0;
	color: rgb(255,255,255);
	position:absolute;
	left: 10px;
	bottom: 10px;
}
header li {
	display: inline;
	padding-right: 5px;
	color: rgb(255,255,255);
}

header ul {
	text-align: right;
}

main {
	background: rgb(240,240,240);
	font-size: .9em;
}

.article {
	padding: 15px;
}
.article p {
	padding: 0 25px;
}

.borderBottomDiv{
	padding: 7px;
	border-bottom: 1px solid rgb(170,170,170);
	position: relative;
}

.article h3 {
	padding: 7px;
	position: relative;
}
table tr td {
	border: 1px solid rgb(150,150,150);
	padding: 5px;
}
.grayHead {
	background: rgb(190,190,190);
	font-weight: bold;
}

.button {
	background: rgb(90,90,210);
	color: rgb(255,255,255);
	padding: 3px 7px;
	text-align: center;
}
.image{
	background: rgb(170,170,170);
	height: 100px;
	width: 500px;
	margin: 0px auto;
}
ol li {
	margin-bottom: 15px;
}
.boldText {
	font-weight: bold;
}
.article p.endTag {
	color: rgb(170,170,170);
	font-size: .8em;
}

.grayLineText {
	color: rgb(170,170,170);
	top: -5px;
	left: 15px;
	background: rgb(240,240,240);
	position: absolute;
	padding: 10px;
}
.commentDiv {
	margin-bottom: 7px;
}

.comments form {
	text-align: right;
	padding: 20px;
	vertical-align: middle;
}
.comments form input {
	width: 65%;
	padding-top: 7px;
	margin-top: 3px;
	border: 1px solid rgb(190,190,190);
	border-top-width: 2px; 
}
.userCommentArea {
	margin: 0px auto;
}

.textBox {
	background: rgb(170,170,170);
	height: 100px;
	width: 92%;
	margin: 0px auto;
	position: relative;
}
.textBox .preText {
	position: absolute;
	display: inline-block;
	top: 10px;
	right: 110px;
}

.userCommentArea textarea {
	display: block;
	height: 130px;
	width: 470px;
	margin: 0px auto;
}
.submit {
	display: block;
	width: 92%;
	height: 20px;
	color: rgb(255,255,255);
	background: rgb(235, 30, 30);
	text-align: center;
	margin: 0 auto;
	padding: 8px 0;
}

.commentStream {
	position:relative;
}
.commentStream img {
	/*display: block;*/
	padding: 0 10px;
	float: left;
}
.commentStream .smallComments {
	display: block;
	width: 70%;
	border-left: 1px solid rgb(170,170,170);
	position: relative;
	left: 90px;
	clear:both;
}
.commentStream p {
	padding:10px 10px;
	clear: both;
	margin:10px 0 0 0;
}
.commentStream .bigComments {
	clear:both;
	margin-top: 20px;
}
.commentStream span {
	font-weight: bold;
}
.commentStream time {
	color: rgb(170,170,170);
	font-size: .85em;
}

.nameTime{
	display: inline-block;
}